.popularFoods{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 64px;
    background-color: var(--primary-color);
    background-image: url(../../assets/popular_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    
    .popularFoods__title{
        font-size: 74px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        font-family: var(--playfair-display);
        font-size: 600;
    }
    .popularFoods__list{
        // min-width: 100%;
        margin-top: 48px;
        // width: 100%;
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        
        .popularFoods__btn{
            background-color: rgba(255,255,255,.1);
            outline: none;
            border: 1px solid rgba(255,255,255,.2);
            border-radius: 46px;
            color: #fff;

            font-family: var(--plus-jakarta-sans);
            font-size: 16px;
            font-weight: 500;

            padding: 10px 25px;
            display: flex;
            align-items: center;
            // justify-content: center;
            gap: 10px;

            // width: 120px;
            // height: 80px;
            img{
                width: 32px;
                height: 32px;
                object-fit: contain;
            }
        }
        .popularFoods__btn:hover{
            background-color: #fff;
            color: var(--primary-color);
        }
        
    }

    .popularFoods__catalogue{
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 56px;
        margin-top: 56px;

        .popularFoods__catalogue-item{
            display: flex;
            flex-direction: column;
            background-color: rgba(255,255,255,.1);
            border: 1px solid rgba(255,255,255,.2);
            padding: 32px;
            border-radius: 24px;
            min-width: 240px;
            height: fit-content;
            
            img{
                height: 150px;
                width: 150px;
                object-fit: contain;
            }

            .popularFoods__catalogue-item-title{
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                font-family: var(--plus-jakarta-sans);
            }

            .popularFoods__catalogue-item-info{
                margin-top: 24px;
                display: flex;
                gap: 50px;
                justify-content: center;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                font-family: var(--plus-jakarta-sans);

                .popularFoods__catalogue-item-info-rating{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                }
            }
        }
        .popularFoods__catalogue-item.active{
            // display: flex;
            // flex-direction: column;
            background-color: #fff;
            min-width: 320px;

            // padding: 32px;
            // border-radius: 24px;
            
            img{
                height: 200px;
                width: 225px;
                object-fit: contain;
            }
            .popularFoods__catalogue-item-title,
            .popularFoods__catalogue-item-info{
                color: var(--secondary-color);
                

            }
        }
    }

    .explore-btn{
        margin-top: 48px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        padding: 18px 32px;
        border-radius: 46px;
        border: none;
        outline: none;
        cursor: pointer;

        font-size: 18px;
        font-family: var(--plus-jakarta-sans);
        font-weight: 500px;
        color: #fff;
        background-color: var(--secondary-color);

    }
}