.trending-foods{
    display: flex;
    flex-direction: column;

    .upper{
        flex: 1;
        display: flex;
        min-height: 640px;

        .upper__subtitle{
            color: var(--primary-color);
            font-family: var(--plus-jakarta-sans);
            font-size: 18px;
            // font-weight: 500;
        }

        .upper__title{
            color: var(--secondary-color);
            font-family: var(--playfair-display);
            font-size: 54px;
            font-weight: 600;
            margin-top: 24px;
        }
        .upper__description{
            color: var(--gray-100);
            font-family: var(--plus-jakarta-sans);
            font-size: 18px;
            margin-top: 24px;
            font-weight: 500;
        
        
        }

        .upper__content{
            flex: 1;
            padding: 64px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
           

            .upper__list{
                list-style: none;
                display: flex;
                // flex-direction: column;
                // align-items: center;    
                // justify-content: center;
                gap: 20px;
                flex-wrap: wrap;
                margin-top: 20px;
                li{
                    flex: 1;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    min-width: 210px;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: var(--plus-jakarta-sans);
                    .check{
                        color: var(--primary-color);
                    }
                }
            }
        }
        .upper__image{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 32px 64px;

            background-image: url(../../assets/japanese_sushi.png);
            background-color: var(--color-white);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            img{
                width: 250px;
                height: 280px;
                object-fit: contain;
            }
        }
    }
    .lower{
        flex: 1;
        display: flex;
        min-height: 640px;


        .lower__subtitle{
            color: var(--primary-color);
            font-family: var(--plus-jakarta-sans);
            font-size: 18px;
            // font-weight: 500;
        }

        .lower__title{
            color: var(--secondary-color);
            font-family: var(--playfair-display);
            font-size: 54px;
            font-weight: 600;
            margin-top: 24px;
        }
        .lower__description{
            color: var(--gray-100);
            font-family: var(--plus-jakarta-sans);
            font-size: 18px;
            margin-top: 24px;
            font-weight: 500;
        
        
        }
        .lower__content{
            flex: 1;
            padding: 64px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .lower__list{
                list-style: none;
                display: flex;
                // flex-direction: column;
                // align-items: center;
                gap: 20px;
                flex-wrap: wrap;
                margin-top: 20px;
                li{
                    flex: 1;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    min-width: 210px;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: var(--plus-jakarta-sans);
                    .check{
                        color: var(--primary-color);
                    }
                }
            }
        }
        .lower__image{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 32px 64px;

            background-image: url(../../assets/japanese_drinks.png);
            background-color: var(--color-white);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            img{
                width: 250px;
                height: 250px;
            }
        }
    }
}
